<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <!-- <div class="col s12 l4">
                <h5 class="wow jackInTheBox">About Us</h5>
                <hr>
                <p>TeCloud is a company of young computer enthusiasts, who devout themselves into the tech world to create apps as a contribution to help make the world a better place.
                </p>
            </div> -->
            <div class="col s12 l3">
                <h5 class="wow jackInTheBox">Partners</h5>
                <hr>
                <ul>
                    <!-- <li><a href="#" class="grey-text text-lighten-3 wow flash">Facebook</a></li>
                    <li><a href="#" class="grey-text text-lighten-3 wow flash">Project Pikin</a></li>
                    <li><a href="#" class="grey-text text-lighten-3 wow flash">E-health Africa</a></li>
                    <li><a href="#" class="grey-text text-lighten-3 wow flash">Tech Crunch</a></li>
                    <li><a href="#" class="grey-text text-lighten-3 wow flash">Git-hub</a></li>
                    <li><a href="#" class="grey-text text-lighten-3 wow flash">Oracle</a></li> -->
                </ul>
            </div>
            <div class="col s12 l4 right">
                <h5 class="wow jackInTheBox ">connect with us</h5>
                <hr>
                <!-- social icons and links -->
                <a href="https://www.facebook.com/groups/ChamberOfCommerce" target="_blank" class="btn-floating btn-small indigo darken-2 tooltipped pulse wow rollIn" data-wow-delay=".5s" data-tooltip="visit our facebook page" id="social_media_icons">
                    <i class="fab fa-facebook"></i></a>
                <a href="http://www.twitter.com/slccia" target="_blank" class="btn-floating btn-small blue lighten-1 tooltipped pulse wow rollIn" data-wow-delay=".5s" data-tooltip="follow us on Twitter" id="social_media_icons">
                    <i class="fab fa-twitter"></i></a>
                <a href="www.linkedin.com/slccia" target="_blank" class="btn-floating btn-small indigo darken-4 tooltipped pulse wow rollIn" data-wow-delay=".5s" data-tooltip="follow us on linkedin" id="social_media_icons">
                    <i class="fab fa-linkedin"></i></a>
                <a href="http://www.slccia.sl" target="_blank" class="btn-floating btn-small  darken-2 lighten-2 tooltipped pulse wow rollIn" data-wow-delay=".5s" data-tooltip="follow us on Instagram" id="social_media_icons">
                    <i class="fab fa-internet-explorer"></i></a>
            </div>
        </div>
        <div class="footer copyright grey darken-4">
            <div class="container center-align">Copyright &copy; Business Service Company, 2019</div>
        </div>
    </div>
</footer>