<!-- navbar -->
<header>
    <div class="navbar-fixed">
        <nav class="blue">
            <div class="container">
                <div class="nav-wrapper">
                    <img class="brand-logo" src="">
                    <a href="/" class="hide-on-small-and-down">
                        Business Service Company
                    </a>

                    <a href="#" data-target="mobile-view" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li> <a href="/">Home</a></li>
                        <li> <a href="/about">About</a></li>
                        <li> <a href="/team">Team</a></li>
                        <li> <a href="/services">Services</a></li>
                        <li> <a href="/industry">Industries</a></li>
                        <li> <a href="/client">Clients</a></li>
                        <li> <a href="/career">Careers</a></li>
                        <li> <a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-view">
        <li> <a href="/">Home</a></li>
        <li> <a href="/about">About</a></li>
        <li> <a href="/team">Team</a></li>
        <li> <a href="/services">Services</a></li>
        <li> <a href="/industry">Industries</a></li>
        <li> <a href="/client">Clients</a></li>
        <li> <a href="/career">Careers</a></li>
        <li> <a href="/contact">Contact</a></li>
    </ul>
</header>