<section class="slider banner">
    <ul class="slides">
        <li>
            <img src="images/image-gallery/about-banner.jpg" class="responsive-img" alt="banner">
            <div class="caption">
                <h3 class="blue">ABOUT US</h3>
            </div>
        </li>
</section>
<section>
    <div class="container">
        <div class="card-panel">
            <div class="col s12 m12 l12">
                <div class="row">
                    <h5><strong>The Company</strong></h5>
                    <p><a href="/">Business Services Company Limited</a> was founded by James Solomon Koroma and incorporated in October 2017 in Freetown, Sierra Leone, as a Private Company Limited by Shares under the Companies Act No. 5 of 2009. The Company
                        is also a fully registered member of the Sierra Leone Chamber of Commerce, Industry and Agriculture (SLCCIA). At Business Services Company (BSC) Limited, we understand the numerous and diverse challenges faced by our clients better
                        than anyone by means of all-in-one integration with their operations and developing alternative but unique counter-productive breakout strategies. As a result of this unique competitive advantage, we offer a comprehensive list
                        of services for business owners to choose from, depending on their particular business needs with a combined team of experienced business professional and consultants available at your disposal you can’t afford. We additionally
                        offer a no-cost, no-obligation consultation for new or start-up businesses from business plans to marketing plans. We are pleased to offer a broad range and a more balanced quality of tailored services option, including: Business
                        and marketing plan preparation, financial search and procurement, Operations Management, Project Management, Strategy and Growth, IT consulting services, management development, human resources advising, Quality Control, Quality
                        Assurance and Continuous Improvement. Whatever your business needs, wherever and whenever your business needs it. BSC Ltd is proud to partner with the Sierra Leone Chamber of Commerce, Industry and Agriculture and offers members
                        discounted rates.
                    </p>
                </div>
                <div class="row">
                    <h5><strong>Our Vision</strong></h5>
                    <p>To become a leader in providing business solution services by providing our clients with services that exceed their expectations in every commitment and help them become more successful.</p>
                </div>
                <div class="row">
                    <h5><strong>Mission Statement</strong></h5>
                    <p>To help build small, medium, large businesses and non-profits through offering proper and comprehensive business services that will meet and exceed each client’s specific needs through focused planning, action, accountability and continuous
                        improvement.
                    </p>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="col s12 push-s2 m11 push-m1 l12">
                            <h5 id="com-value"><strong>Our Company Values</strong></h5>
                            <ul id="com-value-content">
                                <li>Accountability</li>
                                <li>Transparency-No hidden fees</li>
                                <li>Integrity; We mean what we say, and say what we mean</li>
                                <li>Discipline</li>
                                <li>Work hard</li>
                                <li>Organisation</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h5><strong>Key to Success</strong></h5>
                    <p>We measure our success based on the feedback and level of satisfaction of our diverse customers, and we are not satisfied until they acknowledged our innovation, creativity that we have exceeded their expectations.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>