<br>
<section>
    <div class="container">
        <div class="row">
            <div class="col s12 m4">
                <div class="card-panel center">
                    <i class="medium material-icons">trending_up</i>
                    <h4>Strategic Analysis</h4>
                    <p>Capital Improvement and also Infrastructure Planning </p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card-panel center">
                    <i class="medium material-icons">assessment</i>
                    <h4>Sales Capability Training</h4>
                    <p>Capital Improvement and also Infrastructure Planning </p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card-panel center">
                    <i class="medium material-icons">event_available</i>
                    <h4>Event Management</h4>
                    <p>Capital Improvement and also Infrastructure Planning </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="parallax-container">
        <div class="parallax"><img src="images/image-gallery/11.jpg"></div>
    </div>
    <div class="section white">
        <div class="row container wow rollIn">
            <h4 class="header center">Welcome to Business Services Company Limited</h4>
            <br>
            <div id="line"></div>
            <br>
            <p class="grey-text text-darken-3 lighten-3">Business Services Company Limited provides strategic business advisory services as part of a broad portfolio of services to small businesses, start-ups and non-profits. We engage business owners and senior managers in an intensive, collaborative
                process to identify and resolve any issues and challenges that may be preventing your company from achieving its fullest potential.
            </p>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="images/image-gallery/13.jpg"></div>
    </div>
</section>
<br>
<!-- <div class="fixed-action-btn">
    <a class="btn-floating btn-large green">
        <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
        <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
        <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
        <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
        <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
</div> -->