<section class="slider banner">
    <ul class="slides">
        <li>
            <img src="images/image-gallery/client-banner.jpg" class="responsive-img below" alt="">
            <div class="caption center-align">
                <h3>Careers</h3>
            </div>
        </li>
</section>
<section>
    <div class="container">
        <div class="card-panel">
            <div class="row">
                <p><a href="/">Business Services Company Limited</a> offers a full range of part-time jobs and consultancy roles for both short-term and long-term. If you are interested in helping small-business owners achieve their dreams, have a strong
                    track record with both large and small companies and are looking for a challenge, we’d love to talk to you. Please send in your resume to <a href="/">info@bsc-sl.ltd</a> or consultants@bsc-sl.ltd or fill out the <a href="/contact"> “Contact us” </a>                    information page.
                </p>
            </div>
        </div>
    </div>
</section>