<section>
    <div class="container">
        <div class="row">
            <div class="card col s6 m4 hoverable">
                <a _blank-target="https://www.care.org">
                    <div class="card-image">
                        <img src="images/client/care.PNG" alt="">
                    </div>
                </a>
                <div class="card-content">
                    <p>CARE International in Sierra Leone</p>
                </div>
            </div>
            <div class="card col s6 m4 hoverable">
                <a _blank-target="https://www.coopi.org">
                    <div class="card-image">
                        <img src="images/client/coopi.jpg" alt="">
                    </div>
                </a>
                <div class="card-content">
                    <p>COOPI in Kono district, Sierra Leone</p>
                </div>
            </div>
            <div class="card col s6 m4 hoverable">
                <a _blank-target="https://bennimixsl.com">
                    <div class="card-image">
                        <img src="images/client/benni.jpg" alt="">
                    </div>
                </a>
                <div class="card-content">
                    <p>Bennimix Food Company Limited, Sierra Leone</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card col s6 m4 hoverable">
                <a _blank-target="https://sobasl.org">
                    <div class="card-image">
                        <img src="images/client/soba.jpeg" alt="">
                    </div>
                </a>
                <div class="card-content">
                    <p>Sierra Leone Opportunity for Business Action (SOBA)</p>
                </div>
            </div>
            <div class="card col s6 m4 hoverable">
                <a _blank-target="https://www.undp.org">
                    <div class="card-image">
                        <img src="images/client/undp.GIF" alt="">
                    </div>
                </a>
                <div class="card-content">
                    <p>United Nations Development Programme (UNDP) Sierra Leone</p>
                </div>
            </div>
            <div class="card col s6 m4 hoverable">
                <a _blank-target="https://www.concern.net">
                    <div class="card-image">
                        <img src="images/client/concern.jpg" alt="">
                    </div>
                </a>
                <div class="card-content">
                    <p>Concern Worldwide in Sierra Leone</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card col s6 m4 hoverable">
                <a _blank-target="https://www.waynyouth.org">
                    <div class="card-image">
                        <img src="images/client/wayn.jpg" alt="">
                    </div>
                </a>
                <div class="card-content">
                    <p>West African Youth Network</p>
                </div>
            </div>
        </div>
        <h6>Some of the independent individual consultant tasks carried out since 2010</h6>
        <table border="1px" class="highlight responsive-table striped">
            <thead>
                <tr>
                    <th>ASSIGNMENT</th>
                    <th>YEAR</th>
                    <th>ORGANISATION</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Business and Financial Management Skills Consultantcy;Alternative Livelihoods for Women In Need (AL-WIN)</td>
                    <td>2017</td>
                    <td>CONCERN Worldwide in Sierra Leone</td>
                </tr>
                <tr>
                    <td>Business and Enterprenuership Skills Consultancy; Enabling Sustainable Livelihoods through improved Natural Resource Governance and Economic Diversification Project-SDGF-FAO/UNDP Project</td>
                    <td>2014</td>
                    <td>UNDP in Sierra Leone</td>
                </tr>
                <tr>
                    <td>Vegetable Inputs Distribution Model Technical Assistance (Holland Farming Sierra Leone Ltd. & Salone Seeds Company Limited) - SOBA Market Systems Development Project</td>
                    <td>2014</td>
                    <td>Sierra Leone Opportunity for Business Action (SOBA)</td>
                </tr>
                <tr>
                    <td>Sales and Marketing Consultancy</td>
                    <td>2011</td>
                    <td>Bennimix Food Company Ltd</td>
                </tr>
                <tr>
                    <td>Business Plan Consultancy; Grain storage and credit inventory Project</td>
                    <td>2010</td>
                    <td>COOPI in Kono</td>
                </tr>
                <tr>
                    <td>Business Plan Consultancy; Rice Value Chain Development Project</td>
                    <td>2010</td>
                    <td>CARE International in Sierra Leone</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>