<section class="slider banner">
    <ul class="slides">
        <li>
            <img src="images/image-gallery/client-banner1.jpg" class="responsive-img below" alt="">
            <div class="caption center-align">
               
            </div>
        </li>
</section>