<section class="slider banner">
    <ul class="slides">
        <li>
            <img src="images/image-gallery/career-banner.jpg" class="responsive-img below" alt="">
            <div class="caption center-align">
            </div>
        </li>
</section>
<section>
    <div class="container contact-details ">
        <div class="row">
            <h4 class="center">Contact Us</h4>
            <br>
            <div id="line"></div>
            <br>
            <p>We would love to talk to you about your goals or other requirements. We want your business to reach the next level and our highly trained team is ready to help you find a lasting solution to your challenges. Please use the form on this page
                or call, we are ready to support your goals. Manage your risk and maximize opportunity.
            </p>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <img src="images/image-gallery/5.jpg" width="400" height="650" class="responsive-img" alt="">
                <h5><i class="material-icons small">home</i>Address:</h5>
                <ul id="con-info">
                    <li>Business Services Company (BSC) Limited</li>
                    <li>31 Savage Avenue</li>
                    <li>Hastings, Freetown</li>
                    <li>Sierra Leone.</li>
                </ul>
                <br>
                <h5><i class="material-icons small">email</i>Email:</h5>
                <ul id="con-info">
                    <li><a href="#">info@bsc.sl</a></li>
                </ul>
                <br>
                <h5><i class="material-icons small">phone</i>Telephone:</h5>
                <ul id="con-info">
                    <li>+232 76 965 867</li>
                    <li>+232 30 515 408</li>
                </ul>
            </div>
            <div class="col s12 m7 push-m1">
                <div class="card-panel contact-form">
                    <!-- <div class="divider"></div> -->
                    <form action="/contact" method="post">
                        <div class="row center">
                            <h5 class="center green-text text-darken-1 card-title">Send us a message</h5>
                            <div class="input-field">
                                <i class=" tiny material-icons prefix">account_circle</i>
                                <input type="text" name="name" id="" required>
                                <label for="name">Name</label>
                            </div>
                            <div class="input-field">
                                <i class=" tiny material-icons prefix">email</i>
                                <label for="Email">Email</label>
                                <input type="text" name="email" id="" required>
                            </div>
                            <div class="input-field">
                                <i class=" tiny material-icons prefix">add_location</i>
                                <label for="Location">Location</label>
                                <input type="text" name="location" id="" required>
                            </div>
                            <div class="input-field">
                                <i class=" tiny material-icons prefix">phone</i>
                                <label for="Phone">Phone</label>
                                <input type="text" name="phone" id="" required>
                            </div>
                            <div class="input-field">
                                <i class=" tiny material-icons prefix">announcement</i>
                                <textarea id="textarea1" name="message" class="materialize-textarea"></textarea>
                                <label for="textarea1">Message here !!!</label>
                            </div>
                            <input class="btn  right btn-extend blue lighten-2" type="submit" value="send">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="map">
        <div class="mapouter wow fadeInLeftBig center" data-wow-delay="1s">
            <div class="gmap_canvas right"><iframe id="gmap_canvas" src="https://maps.google.com/maps?q=31%20Savage%20Avenue%20Hastings%2C%20Freetown%20Sierra%20Leone&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
            <style>
                .mapouter {
                    position: relative;
                    text-align: right;
                    height: 600px;
                    width: 100%;
                }
                
                .gmap_canvas {
                    overflow: hidden;
                    background: none!important;
                    height: 600px;
                    width: 100%;
                }
            </style>
        </div>
    </div>
</section>