<section class="slider banner">
    <ul class="slides">
        <li>
            <img src="images/image-gallery/career-banner.jpg" class="responsive-img below" alt="">
            <div class="caption center-align">
            </div>
        </li>
</section>
<section>
    <div class="container contact-details ">
        <div class="row">
            <h4 class="center">Contact Us</h4>
            <br>
            <div id="line"></div>
            <br>
            <p>We would love to talk to you about your goals or other requirements. We want your business to reach the next level and our highly trained team is ready to help you find a lasting solution to your challenges. Please use the form on this page
                or call, we are ready to support your goals. Manage your risk and maximize opportunity.
            </p>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <img src="images/image-gallery/building.png" width="400" height="650" class="responsive-img" alt="">
                
                <div class="row">
                    <!-- <i class="material-icons small prefix">home</i> -->
                    <h5 class="contact-subHeading">Address</h5>
                    <label class="contact-labels">Business Services Company (BSC) Limited</label>
                    <br>
                    <label class="contact-labels">31 Savage Avenue Hastings</label>
                    <br>
                    <label class="contact-labels">Freetown, Sierra Leone</label>
                </div>
                <div class="row">
                    <!-- <i class="material-icons small prefix">email</i> -->
                    <h5 class="contact-subHeading">Email</h5>
                    <label class="contact-labels">info@bsc-sl.ltd</label>
                </div>
                <div class="row">
                    <!-- <i class="material-icons small prefix">phone</i> -->
                    <h5 class="contact-subHeading">Telephone</h5>
                    <label class="contact-labels">+232 76 965 867</label> |
                    <label class="contact-labels">+232 30 515 408</label>                
                </div>
                
            </div>
            <div class="col s12 m7 push-m1">
                <div class="card-panel contact-form">
                    <!-- <div class="divider"></div> -->
                    <form action="/contact" method="post">
                        <div class="row center">
                            <h5 class="center gray-text lighten-3 card-title">Send us a message</h5>
                            <div class="input-field">
                                <i class=" tiny material-icons prefix blue-text">account_circle</i>
                                <input type="text" name="name" id="" required>
                                <label for="name">Name</label>
                            </div>
                            <div class="input-field">
                                <i class=" tiny material-icons prefix blue-text">email</i>
                                <label for="Email">Email</label>
                                <input type="text" name="email" id="" required>
                            </div>
                            <div class="input-field">
                                <i class=" tiny material-icons prefix blue-text">add_location</i>
                                <label for="Location">Location</label>
                                <input type="text" name="location" id="" required>
                            </div>
                            <div class="input-field">
                                <i class=" tiny material-icons prefix blue-text">phone</i>
                                <label for="Phone">Phone</label>
                                <input type="text" name="phone" id="" required>
                            </div>
                            <div class="input-field">
                                <i class=" tiny material-icons prefix blue-text">announcement</i>
                                <textarea id="textarea1" name="message" class="materialize-textarea"></textarea>
                                <label for="textarea1">Message here !!!</label>
                            </div>
                            <input class="btn  right btn-extend blue lighten-2" type="submit" value="send">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="map">
        <div class="mapouter wow fadeInLeftBig center" data-wow-delay="1s">
            <div class="gmap_canvas right"><iframe id="gmap_canvas" src="https://maps.google.com/maps?q=31%20Savage%20Avenue%20Hastings%2C%20Freetown%20Sierra%20Leone&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
            <style>
                .mapouter {
                    position: relative;
                    text-align: right;
                    height: 600px;
                    width: 100%;
                }
                
                .gmap_canvas {
                    overflow: hidden;
                    background: none!important;
                    height: 600px;
                    width: 100%;
                }
            </style>
        </div>
    </div>
</section>