<section>
    <div class="container">
        <div class="row">
            <h5>Frequent Asked Questions</h5>
            <p>If you have questions that aren’t answered here. <a href="/contact">please contact us</a>. We’ll be happy to help.</p>
            <ul class="collapsible wow fadeIn" data-wow-delay="1s">
                <li>
                    <div class="collapsible-header"><i class="material-icons">question_answer</i><strong>How much does a business plan / a marketing plan / a feasibility study / etc. cost?</strong></div>
                    <div class="collapsible-body"><span><strong><p class="blue-text">Answer:</p></strong> We do not offer any fixed price packages and we generally avoid templates. Before we can give you an estimate, we need to understand your individual situation. This generally requires a brief conversation about your project goals, timetable, budget, scope, and other issues. Although we are far from being the most expensive, we are also rarely the least expensive. If you are looking for the lowest cost solution, or do not care about quality, then Business Services Company Limited is definitely not a good fit for you.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">question_answer</i><strong>How do I know if Business Services Company Limited is a good match for my business?</strong></div>
                    <div class="collapsible-body"><span><strong><p class="blue-text">Answer:</p></strong> As business growth consultants, we can help almost any legitimate business, from start-up to Corporate. However, there are specific industries and business types where we may not be the best fit. We will be happy to discuss your situation confidentially, and will immediately let you know whether or not we think we are a good fit for your business.
                    </span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">question_answer</i><strong>Do you provide client references?</strong></div>
                    <div class="collapsible-body"><span><strong><p class="blue-text">Answer:</p></strong> We are happy to provide client references to serious prospects once we have held initial discussions and have tentatively agreed on the scope and structure of an engagement.
                        </span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">question_answer</i><strong>I understand that Business Services Company Limited consulting services can be very expensive. Can you help me if I am on a more limited budget?</strong></div>
                    <div class="collapsible-body"><span><strong><p class="blue-text">Answer:</p></strong> Everything we do is tailored to each client's individual situation. If you tell us your budget, as long as it is reasonable, we can work with it. Our focus is on delivering HIGH VALUE to clients, NOT low prices. 
                    </span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">question_answer</i><strong>My Company has very proprietary information, which I do not want to leak out. Do you sign non-disclosure agreements?</strong></div>
                    <div class="collapsible-body"><span><strong><p class="blue-text">Answer:</p></strong> Once we have determined that there is a good match between your needs and Business Services Company Limited capabilities, we can send you a mutual non-disclosure agreement. This agreement protects both parties from disclosure of confidential information. And, if you become a client of Business Services Company Limited, our standard contract provides ample protection that covers most circumstances.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">question_answer</i><strong>Why don't you list more of your clients' names on your website?</strong></div>
                    <div class="collapsible-body"><span><strong><p class="blue-text">Answer:</p></strong> Most of our clients insist on strict confidentiality, so we cannot divulge any information about them beyond their industry and a general description of the type of services we provided them.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">question_answer</i><strong>Do you work with non-profit organizations?</strong></div>
                    <div class="collapsible-body"><span><strong><p class="blue-text">Answer:</p></strong> Although most of our clients are small or mid-size businesses, we also work with non-profits and associations. As long as we are a good fit in terms of skills and expertise we are happy to work with any legitimate organization. In fact, several of our largest and most complex engagements have been with non-profit organizations.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">question_answer</i><strong>Do you work with clients outside the capital city of Freetown?</strong></div>
                    <div class="collapsible-body"><span><strong><p class="blue-text">Answer:</p></strong> YES! We work with clients wherever they need us.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">question_answer</i><strong>Your focus seems to be on business planning and strategy. Do you also help clients with marketing or strategy execution?</strong></div>
                    <div class="collapsible-body"><span><strong><p class="blue-text">Answer:</p></strong> Yes. We help clients with a wide variety of other issues. These include interim management, part-time management, marketing execution, operations consulting, and more. Please contact us to discuss your particular situation in confidence.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">question_answer</i><strong>I am starting a business and need help developing the business concept, researching the industry, and developing a marketing plan. I have very limited funds. Will you work in exchange for equity?</strong></div>
                    <div class="collapsible-body"><span><strong><p class="blue-text">Answer:</p></strong> The amount of market research that needs to go into a high quality marketing plan is extensive and time consuming. We usually work strictly on a fee-for-service basis, but in exceptional cases will discount our fees in exchange for an equity stake or percent of sales.</span></div>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">question_answer</i><strong>Can you make an equity investment in my business or provide debt financing?</strong></div>
                        <div class="collapsible-body"><span><strong><p class="blue-text">Answer:</p></strong> Business Services Company Limited is not a lender or private equity firm, and we do not act as an intermediary in any financial transaction. That said, we can support your search for funding in many useful ways, including market research, preparation of a business plan, development of a business presentation, and preparation and review of supporting documents. In some cases, we can arrange introductions to qualified funding sources. All work of this nature is strictly fee-for-services without guarantee that a deal will be completed. We also work closely with other financial services firms that specialize in business valuations and investor introductions (investment banking services for small businesses).
                        </span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">question_answer</i><strong>I need a business plan / marketing plan completed in a week or less. Can you help me?</strong></div>
                        <div class="collapsible-body"><span><strong><p class="blue-text">Answer:</p></strong> We are willing to go the extra mile for our clients, but we cannot complete most projects in such a short timeframe. Generally, even “straightforward” business plan, marketing plan, and market research projects take at least 3 to 4 weeks. More involved projects can require several months (or longer) to assure the high level of quality and accuracy that are essential to success.</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">question_answer</i><strong>I have been thinking about a new business for a long time. I need someone to help me go through all of my ideas to sort through them and develop a realistic business plan. And I need to do this on a limited budget. Can you help me?</strong></div>
                        <div class="collapsible-body"><span><strong><p class="blue-text">Answer:</p></strong> Possibly. We occasionally work with clients in this situation. You will need to do the "heavy lifting" with the market research (which can be very time consuming), while we limit our role to acting as facilitators and business advisors. This plays to our strengths and keeps your expenses to a minimum. The process typically takes several months, but results in a very strong business plan.
                        </span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">question_answer</i><strong>I already have a business plan. I just need a great presentation for investors. Can you help me?</strong></div>
                        <div class="collapsible-body"><span><strong><p class="blue-text">Answer:</p></strong> Yes. We frequently help entrepreneurs develop and practice concise and compelling presentations. However, we do not simply "slap together a few slides". Very few entrepreneurs ever succeed at raising capital. Poorly designed and executed presentations are a major reason why.</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">question_answer</i><strong>I am an angel investor. I have invested in one or two early stage companies, and I want to find more investment opportunities. Can you help me?</strong></div>
                        <div class="collapsible-body"><span><strong><p class="blue-text">Answer:</p></strong> We talk with hundreds of small business owners each year, across a wide range of industries and stages. If we mutually agree that Business Services Company Limited is a good fit, we can then define search criteria and set up a finder’s fee arrangement plus a small monthly retainer to cover our expenses. We will perform due diligence on potential companies and introduce you only to the most qualified candidates. If you are looking to partner with a high-integrity business consulting firm, please contact us. Your identity and contact information will be kept strictly confidential.</span></div>
                    </li>
            </ul>
        </div>
    </div>
</section>