<section class="slider banner">
    <ul class="slides">
        <li>
            <img src="images/agric/industry.jpg" class="responsive-img below" alt="">
            <div class="caption center-align">
                <h3 class="blue">Some of the Indutries Served</h3>
                <h5 class="light white-text text-lighten hide-on-small-only"></h5>
            </div>
        </li>
</section>
<section id="industry-content">
    <div class="container">
        <div class="card-panel">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs black-text">
                        <li class="tab col s4">
                            <a href="#agricbiz" id="mee">Agricbusiness</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#sme">Small Medium Enterprises Strategy</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#finance">Finance</a>
                        </li>
                    </ul>
                    <div class="col s12" id="agricbiz">
                        <div class="row">
                            <p class="indust-content">We provide high quality, personalized consultancy services to the agricultural community. We aim to help customers achieve increased profitability through value-based development and disciplined execution of comprehensive price
                                risk management plans. We also work jointly with agricultural companies to address opportunities across agriculture sectors, including: Agricultural chemicals and fertilizer producers. We help farms to grow better crops
                                and to maintain a strong environmental compliance position. This is achieved through independent, professional agronomy consulting, science or evidence based decisions, technological innovation, and a consultant team dedicated
                                to the success of our Clients.</p>
                        </div>
                    </div>
                    <div class="col s12" id="sme">
                        <div class="row">
                            <p class="indust-content">We specialize in helping organizations with their strategic planning process. We work with teams to facilitate conversations about strategic direction and business strategy so that our clients can focus their energy on what
                                will move them forward faster. In addition, we provide strategic planning facilitation services and resources to help your team get alignment on your vision. We also provide business development and marketing solutions
                                that help SMEs create sustainable growth through successful expansion into international markets.
                            </p>
                        </div>
                    </div>
                    <div class="col s12" id="finance">
                        <div class="row">
                            <p class="indust-content">
                                Many SMEs do not have a system for predicting forward their projected income and costs against actuals. They do not measure their business results in any useful way and focus only on debtors, creditors, the bank and their order book. At Business Services
                                Company Limited, we provide strategic Business and Management services such as Business Coaching/consulting, Training, Tax fillings, Profit Tax Return Services and Start-up mentoring. We provide insights into the financial
                                performance of asset and investment: Financial modelling services, providing financial acumen and insights to the higher management on the basis of actual & projected financial performance of a particular asset, investment,
                                portfolio or project.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <ul class="tabs black-text">
                        <li class="tab col s4">
                            <a href="#marketing">Marketing and Sales</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#manufacture">Manufacturing</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#telecom">Telecommunications</a>
                        </li>
                    </ul>
                    <div class="col s12" id="marketing">
                        <div class="row">
                            <p class="indust-content">Business Services Company Limited helps your Company or business optimize your marketing and sales strategy to drive profitable growth. We do this by drawing together insights from your Customers, markets, business environments
                                and internal organization. Then we model the economic implications of these insights and compare them with what’s working for your Company or other Companies.</p>
                        </div>
                    </div>
                    <div class="col s12" id="manufacture">
                        <div class="row">
                            <p class="indust-content">
                                We assist organizations in implementing the change initiatives to achieve manufacturing excellence. We work with our Customers to analyse their problems and recommend the best course of action for a given initiative-significantly saving time, effort,
                                and money for the organization. We also focus on delivering solutions to optimize operations and supply chain that are of primary concern to the organizations. Additionally, we help our customers reduce total cost of ownership
                                through both direct and indirect supply chain optimization services-from strategy development to process improvement to outsourcing.
                            </p>
                        </div>
                    </div>
                    <div class="col s12" id="telecom">
                        <div class="row">
                            <p class="indust-content">
                                Our team of Consultants are able to perform an audit of your Company Services to let you know how you are doing with less intrusive and disruptive. We work with your team and other stakeholders to create strategic, operational and financial advisory solutions
                                that protect and enhance enterprise value through sales force effectiveness, service delivery optimization.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <ul class="tabs black-text">
                        <li class="tab col s4">
                            <a href="#com">Communications</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#hotel">Hotel & Tourism</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#trans">Transportation, Hospitality & Service Industry</a>
                        </li>
                    </ul>
                    <div class="col s12" id="com">
                        <div class="row">
                            <p class="indust-content">
                                We create leading-edge solutions that significantly reduce the cost and complexity of enterprise communications. To that end, we bring together critical information about expenses, infrastructure and systems into a single platform for review.
                            </p>
                        </div>
                    </div>
                    <div class="col s12" id="hotel">
                        <div class="row">
                            <p class="indust-content">
                                We offer specialized services to clients across the Mano River Union (MRU) and ECOWAS region. We also provide services to travel, airline, and hospitality companies to outdo unprecedented competition in this new competitive landscape. We provide advisory
                                services to companies looking to invest and develop in the industry. We also have adapted services and specifically shaped them to outfitting, outdoor recreation, adventure travel and eco-tourism.
                            </p>
                        </div>
                    </div>
                    <div class="col s12" id="trans">
                        <div class="row">
                            We offer a comprehensive range of services, including assistance with branding, operational excellence, asset ownership and development, customer experience strategy, M&A services, and technology modernization. We are looking forward to build an outstanding
                            relationship and reputation as advisers of choice to the hotel, leisure and hospitality and tourism and indeed the wider real estate sectors.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <ul class="tabs black-text">
                        <li class="tab col s4">
                            <a href="#build">Building materials and Equipment Services</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#pub">Publishing and Printing Services</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#advert">Advertising and Public Relations</a>
                        </li>
                    </ul>
                    <div class="col s12" id="build">
                        <div class="row">
                            <p class="indust-content">
                                We partner with reliable Engineers and Engineering Companies to implement critical solutions such as; effective cost control, process lead times, and material management which are essential to meet customer requirements and ensure profitable operations.
                                We serve government agencies and commercial businesses in the areas of business-to-business services and construction material, supplies, and equipment. Our knowledge professionals, along with our vast experience and innovative
                                equipment, protect clients’ interests during construction, and our field representatives operate with minimal disruption to active sites.
                            </p>
                        </div>
                    </div>
                    <div class="col s12" id="pub">
                        <div class="row">
                            <p class="indust-content">
                                We provide expertise in solving production, management, and strategic issues. Our experts and Consultants become part of your team, working with you and providing solid, unbiased recommendations and solutions. We provide you services as such as formatting,
                                inside design, cover design, and on and on.
                            </p>
                        </div>
                    </div>
                    <div class="col s12" id="advert">
                        <div class="row">
                            <p class="indust-content">
                                For many SMEs, their advertising spend is 2% or less of their turnover. We offer across-the-board consulting services to give you whatever help you need to help your company proactively position themselves in a positive light online via social media marketing
                                and engagement, SEO, media pitches, press released and reputation management on a variety of customer review sites. We will help you develop a strong PR strategy, strategic and influential, and help your business or organization
                                reach more people in a credible, persuasive manner.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <ul class="tabs black-text">
                        <li class="tab col s4">
                            <a href="#insurance">Insurance</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#rEnergy">Renewable Energy</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#event">Event Management</a>
                        </li>
                    </ul>
                    <div class="col s12" id="insurance">
                        <div class="row">
                            <p class="indust-content">
                                Business Services Company Ltd partner with reliable insurance companies with agility and customer-centricity. We work with our partner insurers develop and Execute strategies that increase profitability and efficiency, leverage digital capabilities, improve
                                customer loyalty and gain competitive advantage from advanced analytics. We also help companies address their most challenging issues by providing strategic, financial, operational, human capital and IT services.
                            </p>
                        </div>
                    </div>
                    <div class="col s12" id="rEnergy">
                        <div class="row">
                            <p class="indust-content">
                                We offer projects, such as system design, project visibility studies, project planning, and project financing to rural electricity producers, Agro-business processing enterprises, and manufacturers requiring thermal, solar or electrical energy solutions.
                            </p>
                        </div>
                    </div>
                    <div class="col s12" id="event">
                        <div class="row">
                            <p class="indust-content">
                                We provide quality and efficient service to our clients for accurate management and implementation that meets our clients’ needs according to their requirement. We specialize in the planning, management and coordination of Corporate Events; Brand activations,
                                artist management, Exhibition Services, Conferencing, Supplies and Logistics, In-store promotions and sponsorship Management to help you stage a memorable and successful event but also promote your brand and interaction
                                opportunities.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <ul class="tabs black-text">
                        <li class="tab col s4">
                            <a href="#legal">Legal Industry</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#web">Web and Software development and Networking </a>
                        </li>
                        <li class="tab col s4">
                            <a href="#climate">Climate change or Coastal adaptation</a>
                        </li>
                    </ul>
                    <div class="col s12" id="legal">
                        <div class="row">
                            <p class="indust-content">
                                SMEs are growing rapidly and expanding their network beyond the national barriers. This growth is however wrought with a number of challenges, which slows down this intense growth. Due to this hindrance, the SME Sector does not get the required support
                                from institutions, the banks and the corporate world. Volitions a detailed study revealed various issues faced by the SME like lack of knowledge of the various compliances, lack of the various rating services, lack of the
                                proper available financial information apart from the non-compliant financial statements etc. Business Services Company Ltd offers statutory and Regulatory Compliance outsourcing and assisting SME’s in various legal compliance
                                requirements such as Income Tax, Indirect Taxes, Companies Act, reviewing and harmonization of existing regulations to meet international standards, which are required at the time of start up till the time the company gets
                                stabilised. Our legal team of consultants provide the legal expertise our clients’ needs to run a successful, innovative and growing business.

                            </p>
                        </div>
                    </div>
                    <div class="col s12" id="web">
                        <div class="row">
                            <p class="indust-content">
                                The B2B market is competition-ridden and it’s extremely difficult to approach a company of your dreams. With new players entering in the market and competition level touching the sky. It is a tough task for business to choose an ideal app development
                                partner. We work with outsourced and dedicated teams to offer excellent technology in web application development, mobile application development and Network installation for SMEs and Start Ups.

                            </p>
                        </div>
                    </div>
                    <div class="col s12" id="climate">
                        <div class="row">
                            <p class="indust-content">
                                The world faces an uncertain climate future. Without sustained support, hard-won gains in poverty reduction, food security, gender empowerment, access to quality education and other goals outlined by the sustainable development goals will be derailed.
                                This means women and children will continue to go hungry, people will be forced to migrate to avoid the impacts of climate change or flee from rising seas, and global processes to build peace will face new and ever-more
                                complex hurdles. Our Consultant team is able to work in concert with your organization whether it’s an international development agency, donors, civil society, national governments and local stakeholders to build and provide
                                solutions to lasting resilience for at-risk communities.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <ul class="tabs black-text">
                        <li class="tab col s4">
                            <a href="#mis">Miscellaneous Advisory Services</a>
                        </li>
                    </ul>
                    <div class="col s12" id="mis">
                        <div class="row">
                            <p class="indust-content">
                                Many of our SMEs span a range of industry sectors, including retail, services, manufacturing, real estate, finance and consulting, trading and wholesale. We provide miscellaneous advisory services to SMEs. The key to this services is the feedback we provide
                                to the client’s business model, its operations and growth plan. A client receiving business consulting is also likely to be a candidate for grant support, capital raising or partnership development. We can also provide
                                a customised project service, tailored to the needs of the business. We organize networking and information exchange events for our SME clients. We also provide GMP compliance Program. This program includes the development
                                of our entire “process control system” required by local and International Standards Agencies. We provide your company with procedures, forms, templates, and training, all integrated to fit within a complete system.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>