<section class="slider banner">
    <ul class="slides">
        <li>
            <img src="images/agric/industry.jpg" class="responsive-img below" alt="">
            <div class="caption center-align">
                <h3 class="blue">INDUSTRIES SERVED</h3>
                <h5 class="light white-text text-lighten hide-on-small-only"></h5>
            </div>
        </li>
</section>
<section>
    <div class="container">
        <div class="card-panel">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs black-text">
                        <li class="tab col s4">
                            <a href="#SME">Small Medium Enterprises (SME's)</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#construction">Construction</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#waste">Waste Management</a>
                        </li>
                    </ul>
                    <div class="col s12" id="SME">
                        <div class="row">
                            <p>test ibrahim</p>
                        </div>
                    </div>
                    <div class="col s12" id="construction">
                        <div class="row">

                        </div>
                    </div>
                    <div class="col s12" id="waste">
                        <div class="row">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <ul class="tabs black-text">
                        <li class="tab col s4">
                            <a href="#agricbiz">Agricbusiness</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#advert">Advertising/Public Relations</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#peif">Private Equity & Investment Firms</a>
                        </li>
                    </ul>
                    <div class="col s12" id="agricbiz">
                        <div class="row">

                        </div>
                    </div>
                    <div class="col s12" id="advert">
                        <div class="row">

                        </div>
                    </div>
                    <div class="col s12" id="peif">
                        <div class="row">
                            <p>testing</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <ul class="tabs black-text">
                        <li class="tab col s4">
                            <a href="#manufacture">Manufacturing</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#finance">Finance</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#non-profit">Non-Profit Foundations or Organisations</a>
                        </li>
                    </ul>
                    <div class="col s12" id="manufacture">
                        <div class="row">

                        </div>
                    </div>
                    <div class="col s12" id="finance">
                        <div class="row">

                        </div>
                    </div>
                    <div class="col s12" id="non-profit">
                        <div class="row">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <ul class="tabs black-text">
                        <li class="tab col s4">
                            <a href="#telecomm">Telecommunications</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#retails">Retails Sales</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#mining">Mining</a>
                        </li>
                    </ul>
                    <div class="col s12" id="telecomm">
                        <div class="row">

                        </div>
                    </div>
                    <div class="col s12" id="retails">
                        <div class="row">

                        </div>
                    </div>
                    <div class="col s12" id="mining">
                        <div class="row">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <ul class="tabs black-text">
                        <li class="tab col s4">
                            <a href="#hotel">Hotel & Tourism</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#marketing">Marketing</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#logg-timber">Logging & Timber</a>
                        </li>
                    </ul>
                    <div class="col s12" id="hotel">
                        <div class="row">

                        </div>
                    </div>
                    <div class="col s12" id="marketing">
                        <div class="row">

                        </div>
                    </div>
                    <div class="col s12" id="logg-timber">
                        <div class="row">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <ul class="tabs black-text">
                        <li class="tab col s4">
                            <a href="#renewable">Renewable Energy</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#equipment">Equipment & Sales</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#insurance">Insurance</a>
                        </li>
                    </ul>
                    <div class="col s12" id="renewable">
                        <div class="row">

                        </div>
                    </div>
                    <div class="col s12" id="equipment">
                        <div class="row">

                        </div>
                    </div>
                    <div class="col s12" id="insurance">
                        <div class="row">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <ul class="tabs black-text">
                        <li class="tab col s4">
                            <a href="#building-mat">Building Materials & Equipment</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#real-estate">Real Estate</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#g-contractors">General Contractors</a>
                        </li>
                    </ul>
                    <div class="col s12" id="building-mat">
                        <div class="row">

                        </div>
                    </div>
                    <div class="col s12" id="real-estate">
                        <div class="row">

                        </div>
                    </div>
                    <div class="col s12" id="g-contractors">
                        <div class="row">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <ul class="tabs black-text">
                        <li class="tab col s4">
                            <a href="#publish">Publishing & Printing</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#transport">Transportation</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#miss-service">Miscellaneous Services</a>
                        </li>
                    </ul>
                    <div class="col s12" id="publish">
                        <div class="row">

                        </div>
                    </div>
                    <div class="col s12" id="transport">
                        <div class="row">

                        </div>
                    </div>
                    <div class="col s12" id="miss-service">
                        <div class="row">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>