<section class="slider banner">
    <ul class="slides">
        <li>
            <img src="images/image-gallery/industry-banner.jpg" class="responsive-img below" alt="">
            <div class="caption center-align">
                <h3 class="blue">INDUSTRIES SERVED</h3>
                <h5 class="light white-text text-lighten hide-on-small-only"></h5>
            </div>
        </li>
</section>
<section>
    <div class="container">
        <div class="card-panel">
            <div class="row">

            </div>
        </div>
    </div>
</section>