<section class="slider banner">
    <ul class="slides">
        <li>
            <img src="images/image-gallery/service-banner.jpg" class="responsive-img below" alt="">
            <div class="caption center-align">
                <h3>SERVICES OFFERED</h3>
                <h5 class="light white-text text-lighten hide-on-small-only"></h5>
            </div>
        </li>
</section>
<section>
    <div class="container">
        <div class="card-panel">
            <div class="row">
                <h5 id="service-content"><a href="/">Business Services Company Limited</a> offers a comprehensive list of services for business owners to choose from, depending on their particular business needs. The company is flexible, working with its clients in the fashion
                    preferred by the client, be it on-site, remotely, or a combination of both.</h5>
                <h5 id="service-content">The primary types of services we provide include but not limited to the following:</h5>
            </div>
            <div class="row">
                <h5>Business Services Company Limited engaged in the following</h5>
                <ul id="service-content">
                    <li>Clearing and Forwarding Services</li>
                    <li>Import and Export </li>
                    <li>Provide need based Technical Assistance to agribusiness and smallholder farmers.</li>
                    <li>Promote smallholder commercialization by fostering productive business linkages between smallholder farmers and selected agribusiness firms and other commodity off-takers in Sierra Leone.</li>
                    <li>Buy and Sell minerals and precious stones including diamonds, gold and other substances such as dimension stones, topaz and other gems.</li>
                    <li>Mine and quarry for gold, diamonds and any other minerals and to purchase, take on lease, exchange or otherwise acquire any mines, alluvial diamond mines and mining rights as miners for gold, diamonds and any other minerals in Sierra
                        Leone.
                    </li>
                    <li>Carry on the business as agriculturist and to act as farmers, cultivators,growers,harvesters,wholesalers,retailers,exporters,importers,dealers and distributors of agricultural equipment’s , agricultural produce and commodities of all
                        kinds including rice, maize, groundnuts, ginger, cassava, soya beans, oil palm trees, fruit trees, cattle, animals husbandry and poultry, seed plants and any other produce, articles, and merchandise that may be conveniently and
                        advantageously carried on in connection with the company business</li>
                </ul>
            </div>
            <div class="row">
                <h5>Business Idea Generation</h5>
                <ul id="service-content">
                    <li>Marketing plan</li>
                    <li>Procurement</li>
                    <li>IT consulting services</li>
                    <li>Market feasibility studies</li>
                    <li>Organizational reviews</li>
                    <li>Strategic planning</li>
                    <li>Seminars and workshops</li>
                    <li>Media and Public Relations</li>
                    <li>Executive Coaching and Strategy</li>
                    <li>Business Licenses, Permits & Certifications</li>
                </ul>
            </div>
            <div class="row">
                <h5>Logistics and Warehouse</h5>
                <ul id="service-content">
                    <li>Sales Capability Training</li>
                    <li>Coaching and Mentoring Services</li>
                    <li>Event Management</li>
                    <li>Project Management</li>
                    <li>Business Travel Management</li>
                    <li>Business Services and Growth Consulting Services</li>
                    <li>Market Research & Analysis</li>
                    <li>Management Consulting</li>
                    <li>Management & Operations Consulting</li>
                    <li>Corporate Training</li>
                    <li>Supply Chain Management</li>
                </ul>
            </div>
            <div class="row">
                <h5>Change Management and Strategic Implementation</h5>
                <ul id="service-content">
                    <li>Organizational Design & Optimization</li>
                    <li>Operations Management</li>
                    <li>Business Valuation</li>
                    <li>Corporate Financial & Accounting Controls </li>
                    <li>Non-Profit Executive Oversight</li>
                    <li>Preventive Maintenance Programs, Maintenance Programing and Optimization </li>
                    <li>Capital Improvement and Infrastructure Planning </li>
                    <li>Project Planning and Management</li>
                    <li>Owner’s Representation Services</li>
                    <li>Quality Assurance, Quality Control and Continuous Improvements</li>
                    <li>Waste Management</li>
                </ul>
            </div>
        </div>
    </div>
</section>