<!--- Slider -->
<section class="slider">
    <ul class="slides">
        <li>
            <img src="images/agric/agricFarm.png" class="responsive-img below" alt="">
            <div class="caption center-align">
                <h3>Strategic planning</h3>
                <h5 class="light white-text text-lighten hide-on-small-only"></h5>
            </div>
        </li>
        <li>
            <img src="images/agric/Market-women.jpg" class="responsive-img" alt="">
            <div class="caption right-align">
                <h3>Project Planning and Management</h3>
                <h5 class="light white-text text-lighten hide-on-small-only"></h5>
            </div>
        </li>
        <li>
            <img src="images/agric/tourism.jpg" alt="">
            <div class="caption left-align">
                <h3>Quality Assurance, Quality Control and Continuous Improvements</h3>
                <h5 class="light white-text text-lighten hide-on-small-only"></h5>
            </div>
        </li>
        <li>
            <img src="images/agric/chemical1.jpg" alt="">
            <div class="caption center-align">
                <h3>Project Management</h3>
                <h5 class="light white-text text-lighten hide-on-small-only"></h5>
            </div>
        </li>
        <li>
            <img src="images/agric/tele-com.jpg" alt="">
            <div class="caption center-align">
                <h3>Project Management</h3>
                <h5 class="light white-text text-lighten hide-on-small-only"></h5>
            </div>
        </li>
    </ul>
</section>