<!--- Slider -->
<section class="slider">
    <ul class="slides">
        <li>
            <img src="images/agric/agricFarm.png" class="responsive-img below" alt="">
            <div class="caption center-align">
                <h3>Promoting Agricbusiness</h3>
                <h5 class="light white-text text-lighten hide-on-small-only"></h5>
            </div>
        </li>
        <li>
            <img src="images/agric/Market-women.jpg" class="responsive-img" alt="">
            <div class="caption right-align">
                <h3>Enchanced Infrastructure</h3>
                <h5 class="light white-text text-lighten hide-on-small-only"></h5>
            </div>
        </li>
        <li>
            <img src="images/agric/tourism.jpg" alt="">
            <div class="caption left-align">
                <h3>Boosting Tourism</h3>
                <h5 class="light white-text text-lighten hide-on-small-only"></h5>
            </div>
        </li>
        <li>
            <img src="images/agric/chemical1.jpg" alt="">
            <div class="caption center-align">
                <h3>Supporting SME's to Grow and become Sustainable</h3>
                <h5 class="light white-text text-lighten hide-on-small-only"></h5>
            </div>
        </li>
        <li>
            <img src="images/agric/tele-com.jpg" alt="">
            <div class="caption center-align">
                <h3>Project Management</h3>
                <h5 class="light white-text text-lighten hide-on-small-only"></h5>
            </div>
        </li>
    </ul>
</section>