<section class="slider banner">
    <ul class="slides">
        <li>
            <img src="images/image-gallery/team-banner.jpg" class="responsive-img below" alt="">
            <div class="caption center-align">
                <div class="team-word">
                    <h3>OUR TEAM</h3>
                </div>

                <!-- <h5 class="light white-text text-lighten hide-on-small-only"></h5> -->
            </div>
        </li>
</section>
<section id="#team">
    <div class="container">
        <div class="card-panel">
            <div class="row">
                <div class="col s8 m3">
                    <img src="images/team/Team_JSK.jpg" height="600" width="500" class="responsive-img" alt="">
                </div>
                <div class="col s12 m8 push-m1 team">
                    <h5><strong>JAMES SOLOMON KOROMA- FOUNDER AND EXECUTIVE CHAIRMAN</strong></h5>
                    <h5>Biography</h5>
                    <p>James has more than 13 years’ experience as a senior management executive. He is an experienced entrepreneur consultant advising small and medium size companies in Sierra Leone and providing business services to both local and International
                        organizations. He worked with many leading global companies across a broad spectrum of vertical industries, including Telecommunications, Manufacturing, Remittance, Hotel and Tourism, Mining and Renewable Energy. James is currently
                        the Chief Executive Officer of the Sierra Leone Chamber of Commerce, Industry and Agriculture (SLCCIA) and holds a degree in Mathematics and Economics (Minor) from Njala University, and a joint MBA in Impact Entrepreneurship and
                        Global Business from the University of Makeni and Milan.</p>
                </div>
                <br>
            </div>
            <div class="row">
                <div class="col s8 m8 team">
                    <h5><strong>JOSEPH JUANA- CONSULTANT</strong></h5>
                    <h5>Biography</h5>
                    <p>Joseph is an experienced researcher, Market Developer and portfolio manager specialising in SME and Agribusiness Development, Value Chain, Natural Resource Management, HIV and AIDS and gender issues in post conflict Countries. From
                        2010-2012, Joseph worked on the Rice Value Chain Development Project implemented by CARE International in Sierra Leone as Market Research and Linkage Advisor where he strengthened linkages between farmers/producers and their nearest
                        storage point and with importers and exporters like World Food Program (WFP)/Purchase for Progress (P4P) program, foreign brokers and other private sector players. Joseph has worked in several capacities such as; HIV and AIDS and
                        Gender focal person for CARE International in Sierra Leone, Project Coordinator Consultant for the FAO funded Agricultural Business Center, Operations Manager for a local Non-Governmental Organization with a mandate of providing
                        quality leadership, direction and management of the European Union funded Crisis Management Ebola Prevention Project (CMEP-Project) in Six South-Eastern Districts of Bo, Bonthe, Moyamba, Pujehun, Kenema and Kailahun. Joseph is
                        currently the Market Enterprises Development Supervisor and Team Leader for Concern Worldwide’ s Post Ebola Livelihoods and Food Security Recovery Project with funding from DFID. </p>
                </div>
                <div class="col s2 m3">
                    <img src="images/team/user.png" height="550" width="500" class="circle responsive-img" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col s2 m3">
                    <img src="images/team/user.png" height="550" width="500" class="circle responsive-img" alt="">
                </div>
                <div class="col s8 m8 push-m1 team">
                    <h5><strong>BEN ARIKO- CONSULTANT</strong></h5>
                    <h5>Biography</h5>
                    <p>Ben Ariko has over 13 years of work experience in the development sector, mainly in the areas of agriculture, agribusiness, food security, and private sector development. He has worked with many development organizations in East, and
                        West Africa (Uganda, South Sudan, Kenya, and Sierra Leone) including CARE SL, GIZ, VSO, and UNDP among others. He has extensive knowledge of private sector development approaches including; mainly market systems development (M4P),
                        the value chain approach, SME development, and financial inclusion approaches (VSLA). He also has experience in designing and delivering capacity building initiatives through Curriculum Development, Training, Coaching and Mentoring
                        in the areas of: Program Management, Enterprise Development, Organizational Development, Value Chain Development and Analysis, Agro-processing, and Business Planning. Ben Ariko holds a double degree Global MBA in Impact Entrepreneurship
                        from the Catholic University in Milan, and the University of Makeni. He has a Bachelor of Arts degree in Social Sciences from Makerere University in Kampala and a Certificate in Huma Rights Based Advocacy from the Tangaza University
                        in Tanzania. He is currently a candidate for a Master of Science in Agribusiness Management at the Rome Business School, Italy.
                    </p>
                </div>
                <br>
            </div>
            <div class="row">
                <div class="col s8 m8 team">
                    <h5><strong>SHEKU TAMBA DAVOWA-CONSULTANT</strong></h5>
                    <h5>Biography</h5>
                    <p>Sheku is an environment and development practitioner with a bias in agriculture. Sheku has over twelve (12) years of experience in community mobilization, supervision, planning, implementation and management of development programmes
                        with UN agencies (United Nations Development Program), international NGOs (CARE, Leonard Cheshire Disability and Child Fund) and national NGOs (Mankind’s Activities for Development Accreditation Movement- MADAM). He has wealth
                        of experience in financial management, working with partner organization including local NGOs, government institutions, UN agencies and civil society organizations. He is currently an International Specialist in the Energy and
                        Environment unit of UNDP Liberia working on coastal adaptation and community resilience to climate change risks. Sheku holds an M.Sc degree in Environment and International Development from the University of East Anglia, Norwich
                        UK and a B.Sc. degree in Agriculture Education from Njala University College in Sierra Leone.
                    </p>
                </div>
                <div class="col s2 m3">
                    <img src="images/team/user.png" height="550" width="500" class="circle responsive-img" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col s2 m3">
                    <img src="images/team/user.png" height="550" width="500" class="circle responsive-img" alt="">
                </div>
                <div class="col s8 push-s2 m8 push-m1 team">
                    <h5><strong>HENRY ADUNDANT KARGBO-CONSULTANT</strong></h5>
                    <h5>Biography</h5>
                    <p>Henry brings to the team more than 13 years’ of worked experience as a senior financial management executive. He is an experienced SME Coach and has mentored more than one hundred entrepreneurs from various business sectors comprising
                        both local and international businesses. Henry has a wealth of experience as it relates to the preparation of business plans for small and medium size companies. He has worked with a wide range of small companies in different sectors
                        including Banking and Financial Services and Mining. Henry holds a degree in Accounting and Finance from Fourah Bay College University of Sierra Leone, and a Chartered and Professional Account, ACCA. He is presently the Business
                        and Finance Coach, E4Impact Foundation at the University of Makeni.</p>
                </div>
                <br>
            </div>
         </div>
</section>